@model Projeto_MVC_Escola.web.Models.TurmaViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TurmaViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_turma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome_turma)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id_curso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Curso.nome_curso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
